html{
  background-color: gray;
}

img{
  max-width:100%;
  height:auto;
  text-align:center;
}

h1, h2{
  text-align:left;
  color: aquamarine;
}

p{
  color: aquamarine;
  font-size: 20px;
}

li{
  color: aquamarine;
  font-size: 20px;
}

#chairs{
  max-width: 75%;
  height:auto;
  text-align:center;
}
